CLRExcel_Financial_Function/CLRExcel_Financial_Function/obj/
CLRExcel_Financial_Function/CLRExcel_Financial_Function/CLRExcel_Financial_Function/obj/
CLRExcel_Financial_Function/CLRExcel_Financial_Function/CLRExcel_Financial_Function/bin/
CLRExcel_Financial_Function/.vs/
