<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="false" throwExceptions="false">  
  <targets async="false">
    <target type="File"
            name="default"            
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${basedir}\log\log.txt"
            keepFileOpen="false"
            archiveFileName="${basedir}\log\log_${shortdate}.{##}.txt"
            archiveNumbering="Sequence"
            archiveEvery="Day"
            maxArchiveFiles="10" />  
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Debug" />
  </rules>
</nlog>