
DECLARE @oneid varchar(200) -- or the appropriate type

DECLARE the_cursor CURSOR FAST_FORWARD
FOR select distinct code from finRatioReport

OPEN the_cursor
FETCH NEXT FROM the_cursor INTO @oneid

WHILE @@FETCH_STATUS = 0
BEGIN
	Insert INTO  ShareIntrinsicValue
    EXEC [dbo].[Calculate_Rate]
		@code = @oneid,
		@forcastYear = 1,
		@targetReturn = 0.15,
		@marginOfSafty = 0.5  

    FETCH NEXT FROM the_cursor INTO @oneid
END

CLOSE the_cursor
DEALLOCATE the_cursor


