/****** Script for SelectTopNRows command from SSMS  ******/
declare @month int = 0;
insert into [raywhite].sta.RentPriceAggreate 

SELECT Address.postCode, Address.suburb, bedrooms, 
		AVG(CAST(IIF(rentPrice is null, price, rentPrice) AS decimal)) as [avg], 
		MAX(CAST(IIF(rentPrice is null, price, rentPrice) AS decimal)) as [max], 
		MIN(CAST(IIF(rentPrice is null, price, rentPrice) AS decimal)) as [min]
      ,count([Property].id) as [count], DATEADD(MONTH, @month, getdate()) as [Date]
      
  FROM [raywhite].[dbo].[Property] join [raywhite].[dbo].Address on [raywhite].[dbo].Address.id = [raywhite].[dbo].[Property].addressId
  where statusCode = 'LSE' and typeCode = 'REN'  and updatedAt >= DATEADD(MONTH, (@month-3), getdate()) and updatedAt <= DATEADD(MONTH, @month, getdate())
  And  Address.postCode < 3000
  group by Address.postCode, Address.suburb, bedrooms
  order by Address.postCode asc
