/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (10) [raywhite].[dbo].[Property].[id]
      ,Address.suburb
      ,[raywhite].[dbo].[Property].creationTime
      ,[raywhite].[dbo].[Property].typeCode
	  ,[raywhite].[dbo].[Property].updatedAt
      ,[raywhite].[dbo].[Property].[bedrooms]
      ,[raywhite].[dbo].[Property].[price]
      ,[raywhite].[dbo].[Property].[soldPrice]
      ,[raywhite].[dbo].[Property].[displayPrice]
      ,[raywhite].[dbo].[Property].[soldDate]
      ,[raywhite].[dbo].[Property].[bathrooms]
      ,[raywhite].[dbo].[Property].[carSpaces]	  
      ,Address.formatted
	  ,description
  FROM [raywhite].[dbo].[Property] join [raywhite].[dbo].Address on [raywhite].[dbo].Address.id = [raywhite].[dbo].[Property].addressId
  where statusCode = 'CUR' and typeCode='SAL'  
  and Address.postCode in( '2000','2007','2008','2009','2131','2132','2133') 
  and [raywhite].[dbo].[Property].updatedAt >= DATEADD(DAY, -10, getdate())
   order by suburb desc, bedrooms,updatedAt desc