Use [61Fin]
Select 
s.Code,
s.Growth,
(iif (s.FCF >0,1,0 )+iif(s.Sales > 0,1,0)+iif(s.EPS > 0,1,0)+iif(s.EQUITY > 0,1,0)) as Rate,
s.ForcastPE_APENORM,
(1-price.[CLOSE]/TargetPrice)*100 as MarginOfSafty,
price.[CLOSE] as Price,
s.TargetPrice,
s.BuyPrice,
iif(sh.Name like '%REIT%' or sh.name like '%property%'or sh.tag like '%property%',1,0) as IsREIT,
sh.Tag,
* 
From ShareIntrinsicValue S LEFT JOIN price on price.code = s.Code and price.date >= DATEADD(DAY, -5, getdate()) join Shares sh on sh.Code = s.Code
where s.ForcastPE_APENORM > 0
and s.Growth >0.2
--and s.Sales >0
and s.EPS >0
--and s.EQUITY >0
and s.FCF >0
--and s.TargetPrice > 0
and (iif (s.FCF >0,1,0 )+iif(s.Sales > 0,1,0)+iif(s.EPS > 0,1,0)+iif(s.EQUITY > 0,1,0)) >= 3
--and s.AllPositive = 1
--and (price.[CLOSE] <= TargetPrice*0.9 or price.[CLOSE] is null)
and TargetPrice >2.5 
and price.[CLOSE] is not null
and ForcastPE_APENORM < 25
and DebtToquityRatio <0.7
ORDER by s.Code--IsREIT,s.growth desc, (price.[CLOSE]/TargetPrice)