/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[PostCode]
      ,[Suburb]
      ,[bedrooms]
      ,[avg]
      ,[max]
      ,[min]
      ,[count]
      ,[Date]
  FROM [raywhite].[sta].[PriceAggreate] where postCode in( '2000','2007','2008','2009','2131','2132','2133','2127','2179') 
  and date >= DATEADD(DAY, -10, getdate())
  order by PostCode, Suburb, bedrooms, date